.flex-parent {
  display: flex;
  height: 100vh;
  background-color: #f2ede1;
}

.items {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.cart {
  width: 20vw;
  background-color: #d1b77b;
}

.item {
  width: 220px;
  height: 220px;
  margin: 5px;
  background-color: #d1b77b;
}

/* .item #img {
  height: 188px;
} */

.item #add-cart {
  height: 32px;
  width: 220px;
}

.item #btns {
  display: flex;
}

.item #ctrl {
  margin-left: 5px;
  margin-right: 5px;
  height: 28px;
  width: 80px;
}

.item #count {
  margin-top: auto;
  margin-bottom: auto;
}

.cart-table {
  width: 288px;
  padding: 8px;
}

.cart-row {
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}

.item-centre {
  text-align: center;
}

.m-t-5 {
  margin-top: 5px;
}

.add-btn {
  width: 80px;
}
